<p>Bonjour Madame/Monsieur,</p>
<p>Un nouveau contact a été enregistré.</p>
<p>Les informations de ce contact sont:</p>
<p>Nom : {{  nom }}, </p>
<p>Prénom : {{ prenom }},</p>
<p>E-mail : {{ email }} ,</p>
<p>Message : {{ message }}</p>
<p>Bien cordialement,</p>
<p>Sandrine ATAYI</p>